html {
    margin: 0;
    padding: 0;
}
#game, #end, #spelareNamn, #card, #dice, #rattSvar
#spelare1, #spelare2, #spelare3, #spelare4 {
    display: none;
}

#spelplan div {
    width: 10vmin;
    height: 10vmin;
    border: solid gray 1px;
    margin: 0.1vmin;
    font-size: 5vmin;
    text-align: center;
    background-color: azure;
}

#dice, #card {
    position: absolute;
    top: 200px;
    left: 200px;
    width: auto;
    height: auto;
    padding: 2vmin;
    border: solid black 2px;
    background-color: burlywood;
}

#spelare1, #spelare2, #spelare3, #spelare4 {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 3vmin;
    height: 3vmin;
}

